<!DOCTYPE html>
<html>
    <head>
        <title>Organizer: Event Creation Form</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='create_event.css') }}">
    </head>

    <body>

        <nav class="navbar">
            <div class="logo">
                <a href="#">UniSphere</a>
            </div>
            <ul class="nav-links">
                <li><a href="{{ url_for('eventbrowsing') }}">Browse Event</a></li>
                <li><a href="{{ url_for('create_event') }}">Create Event - Be an Organizer</a></li>
            </ul>
            <div class="profile">
                <a href="#profile">Profile</a>
            </div>
        </nav>

        <div class="container">

            <div class="form-card">

                <div class="header">
                    <h2>Create Event</h2>
                    <p>Please fill in the event details</p>
                </div>

                <form id="createEvent" onsubmit="handleSubmit(event)">
                    <div class="form-group">
                        <label>Event Name</label>
                        <input type="text" id="name" placeholder="Enter event name" required>
                    </div>

                    <div class="form-group">
                        <label>Event Description</label>
                        <input type="text" id="description" placeholder="Enter event description" required>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label>Event Date</label>
                            <input type="date" id="date" required>
                        </div>

                        <div class="form-group">
                            <label>Event Time</label>
                            <input type="time" id="time" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Event Location</label>
                        <select id="faculty" required>
                            <option value="">Select location</option>
                            <option value="FCI">FCI</option>
                            <option value="FAIE">FAIE</option>
                            <option value="FOM">FOM</option>
                            <option value="FAC">FAC</option>
                            <option value="FCM">FCM</option>
                            <option value="FCA">FCA</option>
                        </select>
                    </div>

                    <button type="submit">Create Event</button>

                </form>
            </div>
        </div>


<script src="{{ url_for('static', filename='create_event.js') }}"></script>

</body>
</html>