<!DOCTYPE html>
<html>
<head>
  <title>Event Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='eventregsys.css') }}">
</head>

<body>

  <div class="container">

    <div class="event-card">

      <div class="event-image"></div>

      <h2></h2>
      <p class="desc"></p>

      <div class="details">
        <p><strong>Date:</strong> <span id="date"></span></p>
        <p><strong>Time:</strong> <span id="time"></span></p>
        <p><strong>Venue:</strong> <span id="venue"></span></p>
      </div>

<button class="register-btn" onclick="registerEventPage()">Register</button>
    <p class="browse" onclick="window.location.href='browse.html'">
      browse more →
    </p>

  </div>

  <!-- JS -->
<script src="event.js"></script>

</body>
</html>