<!DOCTYPE html>
<html>
  <head>
    <title>Event Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='eventregsys.css') }}">
  </head>

  <body>

    <nav class="navbar">
      <div class="logo">
        <a href="#">UniSphere</a>
      </div>
      <ul class="nav-links">
        <li><a href="{{ url_for('eventbrowsing') }}">Browse Event</a></li>
        <li><a href="{{ url_for('create_event') }}">Create Event - Be an Organizer</a></li>
      </ul>
      <div class="profile">
        <a href="#profile">Profile</a>
      </div>
    </nav>

    <div class="container">
      {% if event %}
      <div class="event-card">
        <h2>{{ event['event_name'] }}</h2>
        <p>{{ event['event_description'] }}</p>
        <ul>
          <li><strong>Date:</strong> {{ event['start_date'] }} to {{ event['end_date'] }}</li>
          <li><strong>Time:</strong> {{ event['start_time'] }} - {{ event['end_time'] }}</li>
          <li><strong>Venue:</strong> {{ event['main_location'] }} ({{ event['event_mode'] }})</li>
        </ul>

      <a href="{{ url_for('form', event_id=event['event_id']) }}" class="register-btn">Register for Event</a>
      <button class="register-btn">Register</button>
      </a>

    </div>
    {% else %}
    <p>Event not found.</p>
    {% endif %}
    </div>

  </body>
</html>