<!DOCTYPE html>
<html>
  <head>
    <title>Event Browsing</title>

    
    <link rel="stylesheet" href="{{ url_for('static', filename='eventdisbrow.css') }}">
  </head>

  <body>

    <nav class="navbar">
      <div class="logo">
        <a href="#">UniSphere</a>
      </div>
      <ul class="nav-links">
        <li><a href="{{ url_for('eventbrowsing') }}">Browse Event</a></li>
        <li><a href="{{ url_for('create_event') }}">Create Event</a></li>
      </ul>
      <div class="profile">
        <a href="{{ url_for('dashboard') }}">Profile</a>
      </div>
    </nav>

    <div class="container">
      <h1 class="title">Browse Events</h1>

      <div class="event-grid">
           {% for event in events %}
            <div class="event-card">
                <h3>{{ event['event_name'] }}</h3>
                <p>{{ event['event_description'][:120] }}...</p>
                <p><strong>Location:</strong> {{ event['main_location'] }}</p>
                <a href="{{ url_for('event_detail', event_id=event['event_id']) }}" class="btn">View Details</a>
           </div>
    {% endfor %}
      </div></div>
  </body>
</html>